header .active {
  color: black;
}

.card-title {
  text-transform: capitalize;
}

.page-title {
  text-transform: capitalize;
}

.col {
  margin-bottom: 10px;
}

@media screen and (min-width: 768px) {
  .position-fixed-md {
    width: 23vw;
    position: fixed;
  }
}
